@import "tailwindcss";
@import "tailwindcss-animated";

/* https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */

/* import from file */
@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/OldStandardTT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/OldStandardTT-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("/fonts/OldStandardTT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f2e9e4;
  --foreground: #22223b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-standard: "Old Standard TT", serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #22223b;
    --foreground: #f2e9e4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Old Standard TT", serif;
}
