@import "tailwindcss";

/* https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */

:root {
  --background: #f2e9e4;
  --foreground: #22223b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #22223b;
    --foreground: #f2e9e4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
